{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg ">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>
<div class="artist">
	<h1 class="bold">you can find recently recorded Artists here </h1>
	<div class="container artistcontainer">
		
		{% for artist in data %}
		<div class="row col-sm-6">
			
		<div class="row artistrow">
			
			<div class="col-sm-6">
				<div class="card card-margin">
					<div class="card-header no-border">
						<a href="/artists/{{ artist.id }}">
							<i class="fas fa-users"></i>
							<div class="item">
								<h5>{{ artist.name }}</h5>
							</div>
						</a>
					</div>
					<div class="card-body pt-0">
						<div class="widget-49">
							<div class="widget-49-title-wrapper">
								<div class="widget-49-date-primary">
									<span class="widget-49-date-day">{{artist.id}}</span>
									<span class="widget-49-date-month">id</span>
								</div>
								
							</div>
							<ol class="widget-49-meeting-points">
								<li class="widget-49-meeting-item"><span>PHONE: {{artist.phone}}</span></li>
								
							</ol>
							<div class="widget-49-meeting-action">
								<a href="#" class="btn btn-sm btn-flash-border-primary">View All</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			</div>
			
			
		</div>	
		{% endfor %}
			</div>
			
			
	
		


</div>
		
		


{% endblock %}